/* ------------ Montserrat font start --------- */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* ------------ Montserrat font end --------- */
/* ------------ */

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --primmary-font: "Montserrat";
  --secondary-font: "Roboto_Slab";
  --primary-leafy-green: #41b644;
  --priary-soft-graan: #e8f5e9;
  --black-color: #000000;
  --white-color: #ffffff;
}
.section-padding-all {
  padding: 6rem 6rem;
}
.heading-content h1 {
  font: 700 3rem var(--primmary-font);
}
.heading-content p {
  font: 300 1.3rem var(--secondary-font);
}
.heading-content a {
  border: 1px solid var(--black-color);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font: 400 1.2rem var(--primmary-font);
  width: fit-content;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--black-color);
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}
.heading-content a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* ----------- index start ----------- */
.navbar-custom {
  padding: 0rem 6rem;
}
.main-logo {
  width: 8rem;
}
.navbar-custom .nav-link {
  font: 400 1.01rem var(--primmary-font);
  text-transform: uppercase;
  color: var(--black-color);
  margin: 0 1rem;
}
.navbar-custom .nav-link:hover {
  color: var(--primary-leafy-green);
}
.chat-icon {
  width: 2.5rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.6s ease-in-out;
}
.refresh-heading-box {
  position: absolute;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 7rem;
}
.refresh-heading-box h1 {
  /* font: 700 5rem var(--primmary-font);
  color: transparent;
  -webkit-text-stroke: 1px black;
  
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase; */
}
.refresh-heading-box img {
  width: 85%;
}
/* slider with tap start */
.refresh-bg-img-slider.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  position: absolute;
  right: 2rem;
  bottom: 48%;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
.refresh-bg-img-slider.owl-theme .owl-dots .owl-dot span {
  width: 2rem;
  height: 2.5px;
  margin: 5px 7px;
  background: var(--primary-leafy-green);
  opacity: 0.3;
}
.refresh-bg-img-slider.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-leafy-green);
  opacity: 1;
}

/* slider with tap start */

.at-sipora-content {
  color: var(--black-color);
  font: 300 2rem var(--secondary-font);
  text-align: center;
}
.at-sipora-content span {
  font: 400 2rem var(--secondary-font);
  color: var(--primary-leafy-green);
}
.section-quality-custom {
  background-color: var(--priary-soft-graan);
}
.quality-box {
  text-align: center;
}
.quality-box img {
  width: 5rem;
}
.quality-box h4 {
  padding: 0.5rem 0;
  font: 600 1.4rem var(--primmary-font);
  text-transform: uppercase;
}
.quality-box p {
  font: 300 1.2rem var(--secondary-font);
}

.thanda-shanda-custom-box {
  position: relative;
}
.thanda-shanda-text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  padding: 0rem 8rem;
  width: 55%;
}
.thanda-shanda-text-box h2 {
  text-transform: uppercase;
  font: 700 2.5rem var(--primmary-font);
  padding-top: 5rem;
  /* margin-top: -10rem; */
}
.thanda-shanda-text-box h1 {
  /* margin-top: 5rem; */
  text-transform: uppercase;
  font: 700 3.5rem var(--primmary-font);
  padding: 3rem 0 1rem 0;
}
.thanda-shanda-text-box p {
  font: 300 1.3rem var(--secondary-font);
}
.thanda-shanda-text-box a {
  border: 1px solid var(--black-color);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font: 400 1.2rem var(--primmary-font);
  width: fit-content;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--black-color);
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}
.thanda-shanda-text-box a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* thanda shanda tap slider start */

.thanda-shanda-slider.owl-theme .owl-nav {
  position: absolute;
  top: 35%;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* thanda shanda tap slider end */

.d-rage-text-box h2 {
  /* color: var(--white-color) ; */
}
.d-rage-text-box h1 {
  /* color: var(--white-color) ; */
}
.d-rage-text-box p {
  /* color: var(--white-color); */
  width: 46%;
  text-align: end;
}
.d-rage-text-box a {
  /* color: var(--white-color); */
  /* border: 1px solid var(--white-color); */
}
.d-rage-text-box a:hover {
  /* background-color: var(--white-color); */
  /* color: var(--black-color); */
}
.d-rage-text-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  padding: 0rem 8rem;
  width: 100%;
  align-items: flex-end;
}

.three-sipora-custom {
  position: relative;
  margin: 4rem 6rem;
}

.three-sipora-bg-img img {
  border-radius: 3rem;
}
.three-sipora-content {
  padding-left: 3rem;
  position: absolute;
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.three-sipora-content h1 {
  text-transform: uppercase;
  font: 700 2.5rem var(--primmary-font);
}
.three-sipora-content p {
  padding: 1rem 0;
  font: 300 1.1rem var(--secondary-font);
}

.form-custom {
  background-color: var(--priary-soft-graan);
}
.form-container form h1 {
  text-align: center;
  font: 700 3rem var(--primmary-font);
  text-transform: uppercase;
}
.form-container {
  /* border: 1px solid var(--black-color); */
  padding: 4rem 2rem;
  background-color: var(--white-color);
  border-radius: 2rem;
}
.form-container .form-control {
  padding: 1.2rem 0.7rem;
  border-radius: 2rem;
  background-color: var(--priary-soft-graan);
  box-shadow: none;
  border: none;
}
.form-container input::placeholder {
  color: var(--black-color);
  font: 300 1.2rem var(--secondary-font);
  padding-left: 2rem;
}
.form-container .form-btn {
  border: 1px solid var(--black-color);
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  font: 500 1.2rem var(--primmary-font);
  width: fit-content;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--black-color);
  margin-top: 1rem;
  transition: all 0.5s ease-in-out;
}
.form-container .form-btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.form-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.form-content .form-para {
  padding: 1rem 0;
  margin-bottom: 0;
  font: 300 1.2rem var(--secondary-font);
}
.mail-phone {
  display: flex;
  justify-content: space-between;
}
.mail-phone p {
  font: 300 0.9rem var(--secondary-font);
  padding: 1rem 0;
  margin-bottom: 0;
}
.mail-phone p img {
  width: 2.5rem;
  margin-right: 1rem;
}
.form-content a {
  font: 300 0.9rem var(--secondary-font);
  margin-bottom: 0;
  border: none;
  display: flex;
  align-items: anchor-center;
  padding: 0;
  text-transform: none;
}
.form-content a:hover {
  background-color: transparent;
  color: var(--black-color);
}
.form-content a img {
  width: 2.5rem;
  margin-right: 1rem;
}

/* footer start */
.footer-custom {
  padding-bottom: 0;
}
.footer-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer-nav-container {
  /* border: 1px solid red; */
}
.footer-nav-box {
  padding: 4rem 0 2rem 0;
  border-bottom: 1px solid #00000088;
  display: flex;
  justify-content: space-evenly;
}
.footer-nav-box a {
  font: 400 1.01rem var(--primmary-font);
  text-transform: uppercase;
  color: var(--black-color);
  text-decoration: none;
}
.footer-nav-box a:hover {
  color: var(--primary-leafy-green);
}
.logo-ani-line-box img {
  /* width: 100%;
    border: 1.5px solid #000000 */
}
.logo-ani-line-box {
  width: 80%;
  display: flex;
  margin: auto;
}
.logo-two-img-2 {
  padding-top: 1rem;
}
.footer-logo-container {
  position: relative;
}
.logo-ani-img-box {
  position: absolute;
  top: -25%;
  width: 100%;
}
.logo-ani-img-box img {
  width: 8rem;
}
.footer-copyright-box p {
  font: 300 0.875rem var(--secondary-font);
  padding-top: 2rem;
}
.logo-ani-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-two-img {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

/* footer end */

.thanda-shanda-slider.owl-carousel .owl-nav button.owl-prev img,
.thanda-shanda-slider.owl-carousel .owl-nav button.owl-next img {
  width: 6rem;
}

.thanda-shanda-slider.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: transparent;
}
.thanda-shanda-slider.owl-theme .owl-nav [class*="owl-"] {
  /* opacity: 0; */
}

/* visiblity of slider next/prev button */

/* Hide both buttons initially */
.thanda-shanda-slider.owl-carousel .owl-nav button.owl-prev,
.thanda-shanda-slider.owl-carousel .owl-nav button.owl-next {
  opacity: 0;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

/* Add positioning for clarity */
.thanda-shanda-slider.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}

.thanda-shanda-slider.owl-carousel .owl-nav button.owl-next {
  right: 10px;
}

/* Show on hover with JS */
.thanda-shanda-slider.owl-carousel .owl-nav button.show {
  opacity: 1;
}

/* visiblity of slider next/prev button */

.for-phone {
  display: none !important;
}

/* enquery form start */

.enquiry-custom-side-bar {
  width: 50% !important;
  transition: all 0.8s ease-in-out;
}
.enquiry-custom-side-bar.offcanvas.show:not(.hiding) {
  background-color: var(--black-color);
}
.enquiry-custom-side-bar .offcanvas-body {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}
.enquiry-custom-side-bar h1 {
  color: var(--white-color);
}
.enquiry-custom-side-bar p {
  padding-bottom: 2rem;
  color: var(--white-color);
}
.enquiry-custom-side-bar button i {
  font-size: 1.5rem;
  color: var(--white-color);
}

.main-book-box .form-control {
  border: none;
  border-bottom: 1px solid #ffffffaa;
  border-radius: 0;
  font: 200 0.9rem var(--primary-font);
  color: var(--white-color);
  line-height: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  background-color: transparent;
  box-shadow: none;
}
.side-open-menu {
  padding: 0.5rem 1rem;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 2rem;
  font: 200 0.9rem var(--primary-font);
  line-height: 1.25rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
}
.side-open-menu {
  padding: 0.5rem 2rem;
}
.side-open-menu:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.main-book-box .form-control::placeholder {
  color: var(--text-color);
  font: 200 0.9rem var(--primary-font);
  line-height: 1.25rem;
  letter-spacing: 1px;
  color: var(--white-color);
}

.custom-datetime {
  position: relative;
  width: 100%;
}

.custom-datetime input {
  padding-left: 4rem; /* Space for the icon */
  appearance: none; /* Remove default icon */
}

.custom-datetime .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);

  width: 1.5rem;
}

.custom-datetime input::-webkit-calendar-picker-indicator {
  display: none; /* Hide the default icon */
}

/* form of book table end */

/* enquery form end */

/* ----------- index end ----------- */

/* -------------- contact us start -------------------- */

.contact-us-custom {
  background-image: url("../images/contact-us-bg-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  position: relative;
  z-index: 2;
}
.contact-us-custom::before {
  content: "";
  height: 50%;
  width: 100%;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.contact-us-box {
  padding: 0 0 1rem 6rem;
}
.contact-us-box h1 {
  font: 700 2.5rem var(--primmary-font);
  text-transform: uppercase;
  color: var(--white-color);
}
.contact-us-box p {
  font: 200 1.2rem var(--secondary-font);
  color: var(--white-color);
}

.get-in-touch-section {
  background-color: var(--priary-soft-graan);
}

.get-in-touch-contact-box {
  background-color: var(--white-color);
  padding: 3rem;
  border-radius: 1.5rem;
  height: 100%;
}

.get-in-touch-contact-box h4 {
  font: 600 1.5rem var(--primmary-font);
  letter-spacing: 0.5px;
  color: var(--black-color);
  text-transform: uppercase;
  padding-bottom: 1rem;
}

/* .get-in-touch-contact-box h5 {
  font: 400 .9375rem var(--primary-font);
  line-height: 1.25rem;
  letter-spacing: .5px;
  color: var(--text-color);
} */

.get-in-touch-ul-box {
  list-style: none;
  padding: 0;
}

.get-in-touch-ul-box li {
  padding: 0.5rem 0;
}

.get-in-touch-ul-box li a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: var(--black-color);
  gap: 1rem;
}

.get-in-touch-ul-box li a img {
  width: 1.9rem;
}

.get-in-touch-ul-box li a p {
  font: 300 1.2rem var(--secondary-font);
}

.office-ul-box {
  padding-bottom: 1.4375rem;
  padding-right: 5.125rem;
}

.get-in-touch-form-container {
  background-color: var(--white-color);
  padding: 3rem;
  height: 100%;
  border-radius: 1.5rem;
}

.custom-form-box .form-select,
.custom-form-box .form-control {
  background-color: var(--priary-soft-graan);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem 1rem;
}

.custom-form-box .form-control:focus,
.custom-form-box .form-control[type="text"],
.custom-form-box .form-control[type="email"],
.custom-form-box .form-control[type="number"],
.custom-form-box .form-control::placeholder {
  box-shadow: none;
  border: none;
  font: 300 0.9rem var(--secondary-font);
  color: var(--black-color);
  background-color: var(--priary-soft-graan);
}

.custom-form-box .form-controlinput::-ms-input-placeholder {
  color: var(--black-color);
}

.get-in-touch-btn {
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem 0.64rem;
  color: var(--black-color);
  font: 400 1.1rem var(--secondary-font);
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
}

.get-in-touch-btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.get-in-touch-form-heading h2 {
  font: 600 1.5rem var(--primmary-font);
  line-height: 1.625rem;
  letter-spacing: 0.5px;
  color: var(--black-color);
  padding-bottom: 0.5rem;
  transition: all 0.8s ease-in-out !important;
  text-transform: uppercase;
}

.get-in-touch-form-heading p {
  font: 300 1.1rem var(--secondary-font);
  letter-spacing: 0.5px;
  color: var(--black-color);
  padding-bottom: 0.9375rem;
}

/* -------------- contact us end -------------------- */
